:root {
    --background-color: #202226;
    --dark-color: #3C3C3C;
    --confirm-color: #26A69A;
    --confirm-highlight-color: #35dac9;
    --font-color: #FFFFFF;
    --white-color: #f9f9f9;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    display: flex;
}

textarea {
    padding: 16px;
    box-sizing: border-box;
    color: var(--font-color);
}